*{
    margin:0;
    padding:0;
    box-sizing: border,border-box
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(red, green, blue);
    color:black
}
header{
    position:fixed ;
    display:flex;
    justify-content:space-around ;
    align-items: baseline;
    background-color:green;
    color:white;
    padding:10px 0;
    text-align:center;
    height: 200px;
    width:100%;
}
header ul{
    position: absolute;
    right: 5%;
    top:3%;
    right:15%;
    display:flex;
    list-style:none;
    
   
}
header nav a{
    text-decoration:none;
    color: white;
    padding: 10px 15px;
    transition:backgroud-color 0.3s;
    font-size: 1.5rem;
}
   
img{
    width:100px;
    height:100px
}
header nav a:hover{
    background-color: blue;
}

.logo{
    left: 50%;
    width: 100px;
    height:70px;
}

.redes{
    width:50px;
    height:35px;
}
main{
    height:110vh;
    display:flex;
}
.modal{
    position: fixed;
    left:3%;
    top:200px;
    width:60%;
    background-color: black;
    color:white;
    padding:20px;
    z-index:5;

}
